.Footer {
    // position: absolute;
    // bottom: 0;
    // z-index: 0;
    
    .AboutUs__UpperFooter {
        background-color: #EDE4DE;
        width: 100vw;
        height: 42px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-Index: 2000;
        margin: 0;
        .AboutUs__RightWrapper{
            @media screen and (max-width: 900px) {
                display: none;
            }
        }
        .AboutUs__UpperFooterText {
            margin-left: 40px;
        }
    }

    .AboutUs__RightWrapper {
        margin-right: 40px;
    }
}