.SearchBox {
    width: 46vw;
    height: 48pt;
    border-radius: 10pt;
    border-color: #DFE1E5;
    border-width: 1pt;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 2px;
    padding-right: 2px;
    .SearchBox__Input {
        width: 30vw;
    }

    .SearchBox__Input:focus {
        outline: none;
    }
    

    .SearchBox__Icon{
        cursor: pointer;
    }
}

.SearchBox__Input:-moz-placeholder {
    animation: fadeInPlaceholder 2s forwards;
    transition: opacity 0.5s ease-in-out;
}

@keyframes fadeInPlaceholder {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }