.SearchBox {
    width: 46vw;
    height: 48pt;
    border-radius: 10pt;
    border-color: #624737;
    border-width: 1pt;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 900px) {
        width: 87vw;
        height: 24pt;
        border-radius: 5px;
    }

    .SearchBox__QuestionMark {
        margin-left: 13pt;
        @media screen and (max-width: 900px) {
            height: 12pt;
        }
    }

    .SearchBox__Input {
        width: max-content;
        font-size: 18px;
        font-weight: 400;
        margin-left: 10pt;

        @media screen and (max-width: 900px) {
            width: 68vw;
            font-size: 11px;
        }
    }

    .SearchBox__Input:focus {
        outline: none;
    }


    .SearchBox__Icon {
        @media screen and (max-width: 900px) {
            margin-right: 13pt;
        }

        cursor: pointer;
    }
}