.Description__SearchboxGif{
    position: relative;
    z-index: -1;
    top:-352px;
    left: -449px;
    //height: 100%;
    min-width: 1400px;
}
.Description__SearchboxGifWrapper{
    // border-style: solid;
    // border-width: 1px;
    // border-color: #000000;
    width: 50vw;
    height: 100px;
    // overflow: hidden;
}