.ToBeLaunched__Content{
    display: flex;
    height: 75vh;
    display: flex;
    align-items: center;
    // overflow: hidden;
    @media screen and (max-width: 900px){
        flex-direction: column;
        justify-content: center;
    }
    .ToBeLaunched__CompaniesMarquee{
        width: 60vw;
        @media screen and (max-width: 900px){
            display: none
        }
    }
    .ToBeLaunched__CompaniesMarqueeMobile{
        display: none;
        @media screen and (max-width: 900px){
            display: block
        }
    }
    .ToBeLaunched__VibeLogoMobile{
        display: none;
        @media screen and (max-width: 900px){
            display: block;
            width: 30vw;
        }
    }
}
// .ToBeLaunched__Footer{
//     position: relative;
//     bottom: 0;
//     height: 42px;
//     overflow: hidden;
// }
