.FashionDiceRoll {
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: flex;
    border: 1px solid #DFE1E5;
    border-radius: 10px;
    gap: 0;
    width: 17vw;
    height: 32pt;
    margin-left: 10pt;

    @media screen and (max-width: 900px) {
        width: 90pt;
        height: 24pt;
    }

    .FashionDiceRoll__Dice {
        @media screen and (max-width: 900px) {
            display: none;
        }
    }
}