.FashionCard{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: #221812;
    margin-top: 63pt;
    .FashionCard__Title{
        font-weight: 700;
        font-size: 40px;
    }
    .FashionCard__SubTitle{
        font-weight: 400;
        font-size: 32px;
        color: #624737;
    }
    .FashionCard__Desc{
        font-weight: 400;
        font-size: 24px;
        color: #A3765C;
        width: 70vw;
    }
    .FashionCard__UsersVibe{
        font-weight: 200;
        font-size: 18px;
        color: white;
    }
    .FashionCard__V{
        position: relative;
        top: 0;
    }
}